# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment files
.env
*- Copy.env
" - Copy.env"

# Debug scripts
flask-server/debug_*.py

# Ignore virtual environment directories
venv/
.env/

upload_chats.py
sample_chat_data.json
sample_chat_data_2.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl